@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Montserrat+Alternates:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Hero Background with Gradient Animation */
.hero-bg {
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #474317,
    #29790a,
    #00ffe1,
    #0061ff,
    #9b00ff,
    #ff0078
  );
  background-size: 300% 300%;
  animation: gradientGlow 6s infinite alternate;
  position: relative;
  overflow: hidden;
}

.animated-moving-gradient {
  @apply bg-gradient-to-r from-gray-300 via-white to-gray-300 animate-moving-gradient;
  background-size: 300% 100%;
}


@keyframes gradientGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


@keyframes fadeColors {
  0% {
    background-color: #4e6fb1;
  }
  25% {
    background-color: #174b86;
  }
  50% {
    background-color: #30465e;
  }
  75% {
    background-color: #1d8a47;
  }
  100% {
    background-color: #3c084d;
  }
}

.animated-fade-bg {
  animation: fadeColors 15s infinite alternate ease-in-out;
}

.text-dynamic {
  mix-blend-mode: difference;
  color: white;
}


@layer utilities {
  .aurora-bg {
    @apply relative overflow-hidden bg-black;
  }

  .aurora-bg::before {
    content: '';
    @apply absolute inset-0;
    background: linear-gradient(
      135deg,
      rgba(255, 126, 179, 0.5),
      rgba(255, 117, 140, 0.5),
      rgba(255, 206, 113, 0.5)
    );
    mix-blend-mode: overlay;
    animation: aurora-animation 6s infinite alternate;
  }

  @keyframes aurora-animation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  /* Diagonal Cut Shape */
  .diagonal-cut {
    clip-path: polygon(0 0, 100% 0, 100% 68%, 0% 100%);
  }

  .text-balance {
    text-wrap: balance;
  }
}
